* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main {
   background-color:black ;
   height: fit-content;
   width: 100vw;
   flex-wrap: wrap;

}

header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  background-color: rgb(226, 131, 146);
  align-items: center;
}

.logo {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
 
nav {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;

}

.cars{
  text-decoration: none;
  padding-left: 12px;
}

.home{
  padding-left: 12px;
}

.input{
width: 80vw;
height: 2.5rem;
border-radius: 20px;
/* margin-left: 2rem; */

}

.welcome {
  margin-top: 2rem;
  padding-left: 3rem;
  font-family: cursive;
  color: rgb(233, 124, 142);
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.adventure {
  font-size: 1.5rem;
  color: pink;
}

.bankook {
  color: white;
  border: 1px solid rgb(212, 131, 144);
  height: 2.2rem;
  border: 3px solid palevioletred;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.section{
  display: flex;
  justify-content: center;
margin-top: 2rem;
  height: 4rem;

}

button{
  height: 2.5rem;
  width: 7rem;
  border-radius: 20px;
  position: relative;
  left: -4rem;
  background-color: pink;
}

.item{
  padding: 5px;
  
  
}

.card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  height: fit-content;
  flex-wrap: wrap;

}

.car{
  margin: 1rem;
  background-color: rgb(228, 119, 155);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 9px;
  flex-wrap: wrap;
  
}